<div class="container">

  <div class="jumbotron">
    <h1 class="banner">American Association of AngularJS Engineers</h1>
    <p>
      <img src="assets/images/angular.png" alt="American Association of AngularJS Engineers"><br>
    </p>
    <h1>Member Directory</h1>
  </div>

  <!--<div ng-include="'components/navbar/navbar.html'"></div>-->

  <!--<p><a class="button" ng-href="#" >SPLENDID!</a></p>-->

  <input class="search" type="search" ng-model="search.full_name" placeholder="SEARCH BY NAME">

  <div class="table">
    <div class="tr">
      <div class="th left-top-rounded">MEMBER NAME</div>
      <div class="th">ADDRESS</div>
      <div class="th">PHONE</div>
      <div class="th">EMAIL</div>
      <div class="th">JOIN DATE</div>
      <div class="th right-top-rounded"></div>
    </div>
    <div ng-class-odd="'tr'" ng-class-even="'tr alt'" ng-repeat="member in members | orderBy:'last_name' | filter:search">
      <div class="td">{{member.first_name}} {{member.last_name}}</div>
      <div class="td">{{member.address}}<br/>{{member.city}}, {{member.state}} {{member.zip}}</div>
      <div class="td">{{member.formatted_phone}}</div>
      <div class="td"><a ng-href="mailto:{{member.email}}">{{member.email}}</a></div>
      <div class="td">{{member.join_date}}</div>
      <div class="td narrow">
        <button type="button" class="button">MEMBER PROFILE</button>
      </div>
    </div>
    <div class="tr">
      <div class="th left-bottom-rounded">&nbsp;</div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th right-bottom-rounded"></div>
    </div>    
  </div>

<!--  <div class="col" ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
      <div class="caption">
        <h3>{{awesomeThing.title}}</h3>
        <p>{{awesomeThing.description}}</p>
        <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
      </div>
    </div>
  </div>
-->
  <div class="footer">
    <hr class="gradient">
    <p>Copyright &copy; 2015 American Association of AngularJS Engineers. All rights reserved.</p>
  </div>

</div>
