<div class="container">

  <div class="jumbotron">
    <h1 class="banner">American Association of AngularJS Engineers</h1>
    <p>
      <img src="assets/images/angular.png" alt="American Association of AngularJS Engineers"><br>
    </p>
    <h1>Member Directory</h1>
  </div>

  <!--<div ng-include="'components/navbar/navbar.html'"></div>-->

  <!--<p><a class="button" ng-href="#" >SPLENDID!</a></p>-->

  <div class="table-controls">
    <input class="search" type="search" ng-model="search.fullName" placeholder="SEARCH BY NAME" ng-change="paginateAndFilterStates()">
    <select class="state-filter" type="select" ng-model="select.state" ng-change="paginateAndFilterStates()" ng-show="filterMembers.length > 0">
      <option value="">FILTER BY STATE</option>
      <option ng-repeat="state in memberStates" value="{{state}}">{{state}}</option>
    </select>
    <button class="button clear-filters" ng-click="clearFilters()">CLEAR FILTERS</button>
    <div class="per-page">
      <span class="per-page">PER PAGE: </span><select class="per-page" ng-model="pager.perPage" ng-init="pager.perPage = pager.pagerOptions[0]" ng-options="option for option in pager.pagerOptions" ng-change="paginate()">
      </select>
    </div>
  </div>

  <div class="table">
    <div class="tr">
      <div class="th full-name left-top-rounded">MEMBER NAME</div>
      <div class="th address">ADDRESS</div>
      <div class="th phone">PHONE</div>
      <div class="th email">EMAIL</div>
      <div class="th join-date">JOIN DATE</div>
      <div class="th right-top-rounded"></div>
    </div>
    <div ng-class-odd="'tr'" ng-class-even="'tr alt'" ng-repeat="member in filterMembers = (members | filter:search | filter:select) | orderBy:'last_name' | aaaeStartFrom:(currentPage-1)*pager.perPage | limitTo:pager.perPage">
      <div class="td full-name">{{member.fullName}}</div>
      <div class="td address">{{member.address}}<br/>{{member.city}}, {{member.state}} {{member.zip}}</div>
      <div class="td phone"><a ng-href="tel:{{member.phone}}">{{member.formattedPhone}}</a></div>
      <div class="td email"><a ng-href="mailto:{{member.email}}">{{member.email}}</a></div>
      <div class="td join-date">{{member.join_date}}</div>
      <div class="td narrow">
        <button type="button" class="button">MEMBER PROFILE</button>
      </div>
    </div>
    <div class="tr">
      <div class="th full-name left-bottom-rounded">&nbsp;</div>
      <div class="th address"></div>
      <div class="th phone"></div>
      <div class="th email"></div>
      <div class="th join-date"></div>
      <div class="th right-bottom-rounded"></div>
    </div>
  </div>

  <div class="footer">
    <aaae-paginator></aaae-paginator>
  </div>

  <div class="footer">
    <hr class="gradient">
    <p>Copyright &copy; 2015 American Association of AngularJS Engineers. All rights reserved.</p>
  </div>

</div>
