/*  AngularJS Logo Colors
    Light Side
    Grey Border: B1B1B1
    Red Shield: FC003B
    Letter: FFFFFF
    Dark Side
    Grey Border: B1B1B1
    Red Shield: CB1635, rgb(203, 22, 53), hsla(350, 80.4%, 44.1%)
    Letter: B3B3B3
*/

body {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  margin: 0;
}

h1.banner {
  font-size: 40px;
  margin: 10px 0px;
}

.label {
  font-weight: bold;
  float: right;
}

.button {
  background-color: hsla(350, 80.4%, 44.1%, 1.0);
  border-radius: 5px;
  border: 1px solid #B1B1B1;
  color: #FFF;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  margin: 12px;
  padding: 5px 15px;
  text-align: center;
  vertical-align: middle;
}

.button:disabled {
  background-color: #FFFFFF;
  border: 1px solid #CB1635;
  color: #000000;
  cursor: default;
  font-size: 12px;
  font-weight: bold;
}

.button:hover:enabled {
  background-color: hsla(350, 80.4%, 24.1%, 1.0);
}

a {
  text-decoration: none;
}

a:link {
  color: hsla(350, 80.4%, 44.1%, 1.0);
}

a:visited {
  color: hsla(350, 80.4%, 24.1%, 1.0);
}

a:hover {
  color: hsla(350, 80.4%, 24.1%, 1.0);
  text-decoration: underline;
}

a:active {
  color: hsla(350, 80.4%, 24.1%, 0.6);
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  width: 95%;
}

.jumbotron {
  background-color: #CCCCCC;
  border-radius: 5px;
  border: 2px solid #CB1635;
  margin: 10px 0px 20px;
  padding: 10px;
  text-align: center;
}

hr {
  clear: both;
}

hr.gradient {
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    border: 0;
    height: 1px;
}

.footer {
  margin: 15px 0px;
  text-align: center;
}

/* Start Tables */

.table {
  border-radius: 5px;
  border: 2px solid #CB1635;
  display: table;
  width: 100%;
}

.table.profile {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.table.search {
  margin-bottom: 20px;
}

.tr {
  display: table-row;
}

.tr.alt {
  background-color: #CCCCCC;
}

.th {
  background-color: #CB1635;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 1px;
}

.th, .td {
  display: table-cell;
  padding: 5px;
}

.td.profile-label {
  vertical-align: top;
}

.td.profile-field {
  vertical-align: top;
}

.full-name {
  width: 11%;
}

.address {
  width: 20%;
}

.phone {
  width: 10%;
}

.email {
  width: 30%;
}

.join-date {
  width: 10%
}

.narrow {
  text-align: center;
  vertical-align: center;
  width: 180px;
}

.back {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left-top-rounded {
  border-radius: 2px 0px 0px 0px;
}

.right-top-rounded {
  border-radius: 0px 2px 0px 0px;
}

.left-bottom-rounded {
  border-radius: 0px 0px 0px 2px;
}

.right-bottom-rounded {
  border-radius: 0px 0px 2px 0px;
}

/* End Tables */

/* Start Table Controls */

.table-controls {
  margin-bottom: 20px;
}

input.search {
  border-radius: 5px;
  border: 2px solid #CB1635;
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

select {
  border-radius: 5px;
  border: 2px solid #CB1635;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

select.state-filter {
  float: left;
  margin-left: 10px;
}

span.per-page {
  margin-right: 5px;
}

div.per-page {
  float: right;
  vertical-align: middle;
}

/* End Table Controls */

/* Start Navbar */

.navbar {
  margin-bottom: 20px;
  min-height: 50px;
  position: relative;
}

.navbar > a {
  color: #DDD;
  height: 50px;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  position: relative;
}

.navbar ul li a {
  color: white;
  display: block;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.navbar ul li.active a {
  background-color: black;
}

/* End Navbar */

/* Start Content Columns */

.col {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 31%;
}

.col .thumbnail {
  border-radius: 4px;
  border: 1px solid #DDD;
  height: 200px;
  margin-bottom: 20px;
}

.col .thumbnail .caption {
  padding: 9px;
}

.col .thumbnail img.pull-right {
  width: 50px;
}

/* End Content Columns */

/* Media Queries */

/* Typical size tablets */
@media screen and (max-width: 800px) {

  .full-name {
    width: 15%;
  }

  .phone {
    width: 15%;
  }

  .address {
    display: none;
  }

  .email {
    width: 40%;
  }

  .join-date {
    display: none;
  }

  .narrow {
    width: 20%;
    padding: 0px;
  }
}

/* iPhone 4S */
@media screen and (max-width: 640px) {

  .full-name {
    width: 35%;
  }

  .phone {
    width: 35%;
  }

  .email {
    display: none;
  }
}

/* Correctly format table controls */
@media screen and (max-width: 550px) {

  input.search, select.state-filter, div.per-page {
    clear: both;
    display: block;
    float: left;
    margin-left: 0px;
    vertical-align: middle;
    width: 100%;
  }

  select.per-page {
    display: inline-block;
    float: right;
    margin-top: 0px;
    width: 80%;
  }

  span.per-page {
    display: inline-block;
    margin-top: 5px;
  }

  .button.clear-filters {
    clear: both;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
  }

  div.table-controls {
    display: inline-block;
    width: 100%;
  }

}

/* Normal screen Androids */
@media screen and (max-width: 470px) {

  nav, .navbar {
    clear: left;
    float: left;
    margin: 0 0 10px;
    width: 100%;
  }

  .navbar li {
    background: #efefef;
    display: block;
    margin-bottom: 3px;
    margin: 0;
  }

  .full-name {
    width: 25%;
  }

  .phone {
    width: 25%;
  }

}

/* Small screen Androids */
@media screen and (max-width: 360px) {

  .full-name {
    width: 35%;
  }

  .phone {
    width: 40%;
  }

}

/* iPhone 3GS */
@media screen and (max-width: 320px) {

  .phone {
    display: none;
  }

}